<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Newspaper App</title>
</head>

<body>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>

<!--Note:

UTF-8 is a compromise character encoding that can be as compact 
as ASCII (if the file is just plain English text) but can also
contain any unicode characters (with some increase in file size). 

UTF stands for Unicode Transformation Format. The '8' means it
uses 8-bit blocks to represent a character.

-->